@tailwind base;
@tailwind components;
@tailwind utilities;

/* font face */

@font-face {
  font-family: "GilroySemibold";
  src: local("Gilroy"), url(../public/font/SVN-Gilroy\ SemiBold.otf) format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(../public/font/SVN-Gilroy\ Light.otf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  transition: all 0.2s ease;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #891a1c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* Chrome, Safari, Edge, Opera */
.input-quantity::-webkit-outer-spin-button,
.input-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}

thead th {
  font-weight: 500 !important;
}

.zalo-chat-widget {
  z-index: 100 !important;
}
